# Environment files
.env
.env.*
*.env
.env.example
deploy-target/.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Node
node_modules/
dist/
build/

# Docker
*.log
docker-data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

